<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.crmmini/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.crmmini.view.user/UserListView.title"/>
        <item view="Client.list" title="msg://com.company.crmmini.view.client/clientListView.title"/>
    </menu>

</menu-config>